.register {
  display: flex;
  background-color: #202020;
  min-height: 100vh;
  }

 .register__content {
  min-width: 396px;
  display: flex;
  flex-direction: column;
  margin: 70px auto;
  row-gap: 40px;
  align-items: flex-start;
 }

.register__header {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.register__title {
  color: #FFF;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  margin: 0;
}

.register__form {
  width: 100%;
}

.register__form-fieldset{
  display: flex;
  flex-direction: column;
  border: none;
  margin: 0;
  padding: 0;
}

.register__form-label {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-bottom: 20px;
  color: #8B8B8B;
  font-size: 10px;
  line-height: 12px;
}

.register__form-input {
  height: 46px;
  border-radius: 8px;
  background: #2F2F2F;
  border: none;
  padding: 15px;
  margin: 0;
  color: #FFF;
  font-size: 13px;
  line-height: 16px;
  box-sizing: border-box;
}

.register__form-input:focus {
  outline: 0;
}

.register__form-button {
  height: 45px;
  border-radius: 3px;
  background-color: #4285F4;
  margin: 71px 0 0;
  padding: 0;
  border: none;
  color: #FFF;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}

.register__form-button:hover {
  opacity: .8;
  cursor: pointer;
}

.register__form-go-to-signin {
  display: flex;
  column-gap: 6px;
  align-items: center;
  justify-content: center;
  padding-top: 16px;
}

.register__form-text {
  color: #8B8B8B;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
 }

.register__form-link {
  color: #4285F4;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
}

.register__form-link:hover {
  opacity: .3;
}

@media screen and (max-width: 768px) {
  .register__content {
    margin: 232px auto;
  }
}

@media screen and (max-width: 430px) {
  .register__content {
    min-width: calc(100% - 60px);
  }
}

@media screen and (max-width: 320px) {
  .register__content {
    min-width: 260px;
    margin: 56px auto 30px;
    row-gap: 80px
  }
  .register__header {
    align-items: center;
    row-gap: 50px;
  }
  .register__form-button {
    margin: 159px 0 0;
    font-size: 12px;
    line-height: 15px;
  }
  .register__form-go-to-signin {
     column-gap: 7px;
     padding-top: 14px;
}
}