.nav-bar {
    display: flex;
    justify-content: space-evenly;
    background-color: #272727;
    min-height: 66px;
    padding: 0 70px;
}

.nav-bar__links {
    display: flex;
    align-items: center;
    gap: 40px;

} 

.nav-bar__link {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color:  #FFFFFF;
}

.nav-bar__link:hover {
    opacity: .7;
}

  
@media screen and (max-width: 320px) {
    .nav-bar {
      padding: 0 53px;
    }
    .nav-bar__links {
      gap: 24px;
   } 
    .nav-bar__link {
      font-size: 11px;
   }
}