.header {
    display: flex;
    background-color: #073042;
    padding: 18px 70px;
    box-sizing: border-box;
}

.header_profile-background {
   background-color: #202020;;
}

@media screen and (max-width: 768px) {
  .header {
    padding: 18px 30px;
 }  
} 

@media screen and (max-width: 320px) {
   .header {
     padding: 18px 14px;
  }  
 } 

 