.search {
    padding: 70px 70px 10px;
    background-color: #202020;   
}

.search__form {
    display: flex;
    flex-direction: column;
    row-gap: 26px;
    border-bottom: 1px solid rgba(170, 170, 170, .2);
}

.search__form-fielset {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
    border: 1.5px solid rgba(170, 170, 170, .2);
    padding: 8.5px 10px 8.5px 25px;
    box-sizing: border-box;
}

.search__form-input {
    color: #FFF;
    font-size: 18px;
    line-height: 20px;
    background-color: #202020;
    border: none;
    padding: 0;
    width: 100%;
}

.search__form-input:focus {
    outline: 0;
} 

.search__form-input::placeholder {
    color: #8B8B8B;
    font-size: 18px;
    line-height: 20px;
}

.search__form-button {
    border-radius: 5px;
    background-color: #4285F4;
    width: 100px;
    height: 52px;
    margin: 0;
    padding: 0;
    border: none;
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
}

.search__form-button:hover {
    opacity: .8;
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .search {
      padding: 70px 30px 10px;
   }  
  } 

  @media screen and (max-width: 320px) {
    .search {
      padding: 70px 14px 10px;
   }
   .search__form-fielset {
      margin: 0 0 30px 0;
      padding: 6px 6px 6px 12px;
}  
   .search__form-button {
      width: 80px;
      height: 44px;
    }
  } 